<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Consultar Produtos</title>
</head>
<body class="consulta_produtos">
    <div id="Consulta_Produtos">
        <h2>Consultar Produtos</h2>

        <input type="text" id="codigo_input" placeholder="Digite o código do produto">
        
        <button onclick="consultarProduto()">Consultar</button>

        <div id="produto_info" style="display: none;">
            <h3 id="produto_nome"></h3>
            <p id="produto_valor"></p>
            <div id="produto_imagem_container"></div>
        </div>
        
        <div class="button-container">
            <button onclick="window.location.href='Pagina_Principal.html'">Voltar</button>
        </div>
    </div>

</body>
</html>
