<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Página Principal</title>
</head>

<body class="principal">
    <div id="Principal">
        <h1>Tem Quase Tudo</h1>
        <button onclick="window.location.href='Cadastro_Produtos.html'">Cadastrar Produtos</button>
        <button onclick="window.location.href='Gerar_Etiquetas.html'">Gerar Etiquetas</button>
        <button onclick="window.location.href='Relatorio_Saidas.html'">Relatório de Saídas</button>
        <button onclick="window.location.href='Consultar.html'">Consultar</button>
        <button onclick="window.location.href='Login.html'" style="margin-top: 20px;">Sair</button>
    </div>
</body>

</html>
