<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Relatório de Saídas</title>
</head>
<body class="relatorio_saidas">
    <div id="Relatorio_Saidas">
        <h2>Relatório de Saídas</h2>
        
        <label for="data_inicio">Data de Início:</label>
        <input type="date" id="data_inicio">

        <label for="data_fim">Data de Fim:</label>
        <input type="date" id="data_fim">

        <label for="produto">Produto:</label>
        <input type="text" id="produto" placeholder="Digite o nome do produto">

        <button onclick="gerarRelatorio()">Gerar Relatório</button>
    </div>
    <div class="button-container">
        <button onclick="window.location.href='Pagina_Principal.html'">Voltar</button>
    </div>
</body>
</html>
